<html>
    <head lang="English">
        <title>Mary's blog</title>
    </head>
    <body>
        <header>
            <h1>Olamide's Blog</h1>
        </header>

        <article>
            <h2><a href="/">Hi there! Welcome to my blog</a></h2>
            <time>Published: 28.06.24, 15:16</time>
            <p>Lorem ipsum</p>
        </article>

         <article>
            <h2><a href="/">Hi there! Welcome to my blog</a></h2>
            <time>Published: 28.06.24, 15:16</time>
            <p>Lorem ipsum</p>
        </article>

        <article>
            <h2><a href="/">Hi there! Welcome to my blog</a></h2>
            <time>Published: 28.06.24, 15:16</time>
            <p>Lorem ipsum</p>
        </article>
    </body>
</html>